<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="Should be an email">
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email"
        email
        required>
      <mat-error *ngIf="f.email.errors?.required">Field must not be empty</mat-error>
      <mat-error *ngIf="!f.email.errors?.required">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
        required
        minlength="6">
      <mat-hint align="end">{{this.loginForm.value.password?.length}} / 6</mat-hint>
      <mat-error>Has to be 6 characters long</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.status === 'INVALID'">Submit</button>
  </form>
</section>
